.DateRangePicker {
  display: block;
}

.DateRangePickerInput {
  border-radius: 4px;
}

.DateRangePicker__picker {
  z-index: 1000;
}

.TableView__empty {
  text-align: center;
  padding: 20px;
}

.no-top-margin {
  margin-top: 0;
}

.navbar .navbar-nav > li > a i {
  margin-right: 4px;
}