.DateRangePicker {
  display: block;
}

.DateRangePickerInput {
  border-radius: 4px;
}

.DateRangePicker__picker {
  z-index: 1000;
}

.TableView__empty {
  text-align: center;
  padding: 20px;
}

.no-top-margin {
  margin-top: 0;
}

.navbar .navbar-nav > li > a i {
  margin-right: 4px;
}

.StateBlocks {
  padding-left: 5px;
  padding-right: 5px;

  color: #fff;
}

.StateBlocks hr {
  margin-top: 4px;
  margin-bottom: 4px;
}

.StateBlocks a {
    color: #fff;
    text-decoration: underline;
}

.StateBlocks__item {
  background-color: green;
  padding: 8px;
  padding-top: 0;

  margin-left: -5px;
  margin-right: -5px;
}