.DateRangePicker {
  display: block;
}

.DateRangePickerInput {
  border-radius: 4px;
}

.DateRangePicker__picker {
  z-index: 1000;
}

.TableView__empty {
  text-align: center;
  padding: 20px;
}

.no-top-margin {
  margin-top: 0;
}

.navbar .navbar-nav > li > a i {
  margin-right: 4px;
}

.StateBlocks {
  padding-left: 5px;
  padding-right: 5px;

  color: #fff;
}

.StateBlocks hr {
  margin-top: 4px;
  margin-bottom: 4px;
}

.StateBlocks a {
    color: #fff;
    text-decoration: none;
}

.StateBlocks__footer a {
    color: #fff;
    text-decoration: underline;
}

.StateBlocks__item {
  border-radius: 3px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.1), 0 1px 2px rgba(0,0,0,0.05);
  background-color: green;
  padding: 8px;
  padding-top: 0;

  margin-left: -5px;
  margin-right: -5px;
}

.block-link {
  display: block;
}


.recharts-responsive-container {
  min-height: 640px;
}

.pie-chart-container .recharts-responsive-container,
.bar-chart-container .recharts-responsive-container {
  min-height: 400px;
}
